.Tile {
    background-color: #e7f6eb;
    padding: 16px 0;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    color: #000;
    display: block;
    overflow: hidden;
}

.padding {
    padding: 0 16px;
    display: flex;
    height: 100%;
    gap: 16px;
}

.image {
    flex: 0 0 40px;
    background-repeat: no-repeat;
    min-height: 40px;
}
