.Main {
    display: flex;
    gap: 16px;
    row-gap: 16px;
    margin-bottom: 16px;
}

.first {
    flex: 1;
    display: flex;
}

.second {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.second > div {
    display: flex;
    gap: 16px;
}
