.Head {
    display: flex;
}

.head_default {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    padding-bottom: 20px;
}

.Head > div {
    display: flex;
    background-color: #f7f8fc;
    padding: 14px 22px;
    border-radius: 28px;
    margin-bottom: 20px;
}

.hash,
.title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-transform: lowercase;
    line-height: 31px;
}

.hash {
    flex: 0 0 35px;
    font-size: 30px;
    background-color: #6df5d1;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding-right: 1px;
    margin-right: 8px;
    line-height: 35px;
}
